<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>缘中秀在线排盘系统</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main_pan.css">
  <link type="text/css" rel="stylesheet" href="css/style_pan.css">
  <link type="text/css" rel="stylesheet" href="css/style_down_pan.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <script>var ejs = <%- JSON.stringify(locals); %></script>
</head>
<body style="background-image: url(/img/bg.jpg);margin: 0px;">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">紫薇命盘</a>
                </div>
              </div>
            </nav>
            
            <div class="container" style="margin-top: 80px;">

            		<div id="ljms2_DIV_2">
            			<div id="ljms2_DIV_5" style="margin: 0px 0px 10px 10px;">
<% if (data.inputs.mode == 1) { %>
    <label>当前排盘：</label><img src="/img/lifepan.png" /><br /><label>切换到：&nbsp;&nbsp;&nbsp;&nbsp;</label><img src="/img/daxianpan.png" style='cursor: pointer;' onclick='goToPan(2)'/><img src="/img/yearpan.png" style='cursor: pointer;' onclick='goToPan(3)'  />
<% } else if (data.inputs.mode == 2) { %>
    <label>当前排盘：</label><img src="/img/daxianpan.png" /><br /><label>切换到：&nbsp;&nbsp;&nbsp;&nbsp;</label><img src="/img/lifepan.png"  style='cursor: pointer;' onclick='goToPan(1)' /><img src="/img/yearpan.png" style='cursor: pointer;' onclick='goToPan(3)'  />
<% } else if (data.inputs.mode == 3) { %>
    <label>当前排盘：</label><img src="/img/yearpan.png"/><br /><label>切换到：&nbsp;&nbsp;&nbsp;&nbsp;</label><img src="/img/lifepan.png" style='cursor: pointer;' onclick='goToPan(1)'  /><img src="/img/daxianpan.png" style='cursor: pointer;' onclick='goToPan(2)' />
<% } %>
            				
            			</div>
                        <div id="ljms2_DIV_11">
                        </div>
                        <form class='invisible-form' method='POST' action='/ZiWeiPan'>
                            
                        </form>
            		</div>
            	<!-- STARTOF lp_content -->

<div class="lp_content">
    <table class="lp_tab" id="mainContent">
        <tbody>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="setCentDom(this, 0)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[0].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[0].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[0].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[0].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[0].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[0].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[0].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[0].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[0].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[0].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[0].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[0].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[0].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[0].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[0].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[0].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[0].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[0].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[0].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[0].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[0].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[0].gongName %></span>
                        </div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,1)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[1].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[1].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[1].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[1].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[1].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[1].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[1].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[1].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[1].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[1].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[1].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[1].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[1].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[1].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[1].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[1].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[1].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[1].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[1].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[1].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[1].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[1].gongName %></span>
                        </div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,2)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[2].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[2].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[2].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[2].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[2].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[2].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[2].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[2].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[2].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[2].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[2].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[2].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[2].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[2].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[2].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[2].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[2].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[2].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[2].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[2].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[2].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[2].gongName %></span>
                        </div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,3)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[3].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[3].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[3].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[3].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[3].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[3].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[3].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[3].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[3].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[3].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[3].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[3].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[3].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[3].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[3].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[3].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[3].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[3].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[3].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[3].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[3].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[3].gongName %></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="setCentDom(this,4)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[4].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[4].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[4].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[4].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[4].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[4].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[4].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[4].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[4].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[4].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[4].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[4].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[4].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[4].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[4].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[4].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[4].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[4].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[4].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[4].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[4].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[4].gongName %></span>
                        </div>
                    </div>
                </td>
                <td rowspan="2" colspan="2" class="cztd" align="center" id="Pcent" style="background-image: url(/img/centerlogin.png); background-position:center; background-repeat: no-repeat;">
                    <div style="width: 100%;position:relative;top:0px;height:252px;background-image:url(/img/lcbg.png)">
                        <canvas id="canvas" style="position:absolute;top:0px;left:0px;z-index:2;" width="298" height="253"></canvas>
                        <div class="lp_ctab center-gong" id="CentTab">
                            <li>姓名:<font color="red"><%= data.inputs.name %></font>&nbsp;&nbsp;年龄:<font color="red"><%= data.centerGong.年龄 %></font>&nbsp;&nbsp;<font color="red"><% if (data.inputs.sex == 1) { %>男<% } else { %>女<% } %></font>&nbsp;&nbsp;</li>
                            <li>公历:<%= data.centerGong.阳历生日 %></li>
                            <li>农历:<%= data.centerGong.阴历生日 %></li>
                            <!-- <li class="lp_centdiv">
                                <div class="lp_bzdiv">

                                    <table class="lp_bz" style="text-align:center;">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="color:red;text-align:center;">不论节气</td>
                                            </tr>
                                            <tr class="lp_bztr">
                                                <td>年</td>
                                                <td>月</td>
                                                <td>日</td>
                                                <td style="width:14px;text-align:center;">时</td>
                                            </tr>
                                            <tr class="lp_bztr1">
                                                <td>庚午</td>
                                                <td>戊子</td>
                                                <td>辛未</td>
                                                <td>戊子</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="lp_bzdiv">
                                    <table class="lp_bz">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="color:red;text-align:center;">节气四柱</td>
                                            </tr>
                                            <tr class="lp_bztr">
                                                <td>年</td>
                                                <td>月</td>
                                                <td>日</td>
                                                <td style="width:14px;text-align:center;">时</td>
                                            </tr>
                                            <tr class="lp_bztr1">
                                                <td>庚午</td>
                                                <td>戊子</td>
                                                <td style="">辛未</td>
                                                <td>戊子</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clear"></div>
                            </li> -->
                            <li>盘类:<span style="color:#00CC66;"><%= data.centerGong.盘类 %>盘</span>&nbsp;&nbsp;命局:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.局 %>局</span>
                            </li>
                            <li>命主:<span style="color:rgb(173, 3, 253);"><%= data.centerGong.命主 %></span>&nbsp;&nbsp;身主:<span style="color:rgb(173, 3, 253);"><%= data.centerGong.身主 %></span>
                            </li>
                            <li>子斗在:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.子斗在 %></span>&nbsp;&nbsp;身宫在:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.身宫在 %></span>&nbsp;&nbsp;命宫在:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.命宫在 %></span>
                            </li>
                        </div>
                        <div id="StarContent" class="StarContent" ></div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,5)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[5].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[5].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[5].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[5].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[5].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[5].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[5].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[5].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[5].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[5].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[5].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[5].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[5].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[5].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[5].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[5].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[5].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[5].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[5].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[5].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[5].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[5].gongName %></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="setCentDom(this,6)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[6].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[6].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[6].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[6].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[6].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[6].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[6].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[6].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[6].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[6].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[6].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[6].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[6].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[6].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[6].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[6].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[6].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[6].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[6].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[6].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[6].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[6].gongName %></span>
                        </div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,7)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[7].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[7].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[7].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[7].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[7].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[7].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[7].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[7].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[7].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[7].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[7].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[7].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[7].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[7].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[7].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[7].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[7].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[7].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[7].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[7].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[7].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[7].gongName %></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="setCentDom(this,8)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[8].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[8].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[8].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[8].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[8].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[8].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[8].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[8].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[8].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[8].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[8].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[8].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[8].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[8].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[8].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[8].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[8].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[8].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[8].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[8].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[8].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[8].gongName %></span>
                        </div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,9)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[9].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[9].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[9].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[9].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[9].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[9].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[9].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[9].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[9].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[9].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[9].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[9].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[9].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[9].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[9].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[9].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[9].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[9].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[9].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[9].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[9].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[9].gongName %></span>
                        </div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,10)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[10].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[10].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[10].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[10].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[10].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[10].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[10].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[10].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[10].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[10].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[10].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[10].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[10].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[10].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[10].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[10].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[10].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[10].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[10].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[10].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[10].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[10].gongName %></span>
                        </div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="setCentDom(this,11)">
                    <div class="lp_tdiv">
                        <% for (var i=0; i<data.twelveGongs[11].redStars.length; i++) { %>
                        <li><span style="color:#f30000;"><%= starList[data.twelveGongs[11].redStars[i][0]] %></span>
                            <br><%= data.twelveGongs[11].redStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[11].redStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[11].magentaStars.length; i++) { %>
                        <li><span style="color:#ff00ff;"><%= starList[data.twelveGongs[11].magentaStars[i][0]] %></span>
                            <br><%= data.twelveGongs[11].magentaStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[11].magentaStars[i][2] %></span>
                        </li>
                        <% } %>
                        <% for (var i=0; i<data.twelveGongs[11].brownStars.length; i++) { %>
                        <li><span style="color:#996600;"><%= starList[data.twelveGongs[11].brownStars[i][0]] %></span>
                        	<br><%= data.twelveGongs[11].brownStars[i][1] %>
                            <br><span class="FourStar"><%= data.twelveGongs[11].brownStars[i][2] %></span>
                      	</li>
                        <% } %>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
	                        <% for (var i=0; i<data.twelveGongs[11].cyanStars.length; i++) { %>
	                        <li><span style="color:#009999;"><% if (data.twelveGongs[11].cyanStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[11].cyanStars[i]] %><% } %></span></li>
	                        <% } %>
	                        <% for (var i=0; i<data.twelveGongs[11].blueStars.length; i++) { %>
	                        <li><span style="color:#000099;"><% if (data.twelveGongs[11].blueStars[i] == 64) { %>博士<% } else { %><%= starList[data.twelveGongs[11].blueStars[i]] %><% } %></span></li>
	                        <% } %>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[11].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[11].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[11].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[11].gongName %></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--遮罩层显示-->
    <div id="lp_BgDiv" class="lp_BgDiv"></div>
    <!--详细介绍显示-->
    <div id="lp_info" class="lp_info">
        <div class="close1" onclick="hideInfo()"></div>
        <div id="lp_infoTop" class="lp_infoTop"></div>
        <div id="lp_detail" class="lp_detail"></div>
    </div>
    <div id="lp_fj" class="lp_fj">
        <div class="close1" onclick="hideHj()"></div>
        <div id="lp_hjInfo"></div>
    </div>
</div>

            	<!-- ENDOF lp_content -->
			
			</div>
            <div class='container'>
            <div class='explanation-div list-group' style='margin-top: 30px; margin-left: 10px;width: 615px;'>
                <h3 class="list-group-item list-group-item-info">命盘解析</h3>
                
            </div>
            <div style='display: none'>
                <div class="list-group-item list-group-item-danger sample-main" style="font-size: 14px;">Cras sit amet nibh libero</div>
                <div class="list-group-item list-group-item-info sample-minor" style="font-size: 14px;">Cras sit amet nibh libero</div>
            </div>
            </div>
            <script src="js/vendor/jquery-1.11.2.min.js"></script>
            <script src="js/vendor/jquery-ui.min.js"></script>
            <script src="js/vendor/bootstrap.min.js"></script>
            <script src="js/pan.js"></script>
          </body>
          </html>
