<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main_pan.css">
  <link type="text/css" rel="stylesheet" href="css/style_pan.css">
  <link type="text/css" rel="stylesheet" href="css/style_down_pan.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body style="background-image: url(/img/bg.jpg);margin: 0px;">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">紫薇命盘</a>
                </div>
              </div>
            </nav>

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="container" style="margin-top: 80px;">

            		<div id="ljms2_DIV_2">
            			<div id="ljms2_DIV_5" style="margin: 0px 0px 20px 10px;">
            				<img src="/img/<% if (data.inputs.mode == 1) { %>
lifepan
<% } else if (data.inputs.mode == 2) { %>
daxianpan
<% } else if (data.inputs.mode == 3) { %>
yearpan
<% } %>.png" />
            			</div>
            			<div id="ljms2_DIV_11">
            			</div>
            		</div>
            	<!-- STARTOF lp_content -->

<div class="lp_content">
    <table class="lp_tab" id="mainContent">
        <tbody>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,0)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,1)">天机</span>
                            <br>平</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,86)">天伤</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,38)">三台</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,116)">破碎</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>大耗</li>
                            <li>病符</li>
                            <li>亡神</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[0].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[0].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[0].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[0].gongName %></span>
                        </div>
                        <div class="lp_minage">2 14 26 38 50 62 74 96 98 110</div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,1)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,0)">紫微</span>
                            <br>庙</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,35)">天贵</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,32)">台辅</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,43)">天寿</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,42)">天才</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,54)">阴煞</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,46)">解神</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,41)">天福</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>伏兵</li>
                            <li>岁建</li>
                            <li>将星</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[1].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[1].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[1].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[1].gongName %></span>
                        </div>
                        <div class="lp_minage">3 15 27 39 51 63 75 87 99 111</div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,2)">
                    <div class="lp_tdiv">
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,21)">天钺</span>
                            <br>旺</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,23)">陀罗</span>
                            <br>庙</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,87)">天使</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,49)">天刑</span>
                            <br>陷</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,48)">天空</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,115)">截空</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>官符</li>
                            <li>晦气</li>
                            <li>攀鞍</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[2].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[2].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[2].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[2].gongName %></span>
                        </div>
                        <div class="lp_minage">4 16 28 40 52 64 76 88 100 112</div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,3)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,13)">破军</span>
                            <br>地</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,14)">禄存</span>
                            <br>庙</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,60)">孤辰</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>博士</li>
                            <li>丧门</li>
                            <li>岁驿</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[3].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[3].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[3].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[3].gongName %></span>
                        </div>
                        <div class="lp_minage">5 17 29 41 53 65 77 89 101 113</div>
                    </div>
                </td>
            </tr>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,11)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,12)">七杀</span>
                            <br>庙</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,16)">文曲</span>
                            <br>地</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,61)">寡宿</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,37)">凤阁</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>病符</li>
                            <li>吊客</li>
                            <li>月煞</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[4].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[4].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[4].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[4].gongName %></span>
                        </div>
                        <div class="lp_minage">1 13 25 37 49 61 73 85 97 109</div>
                    </div>
                </td>
                <td rowspan="2" colspan="2" class="cztd" align="center" id="Pcent" style="background-image: url(/img/centerlogin.png); background-position:center; background-repeat: no-repeat;">
                    <div style="width: 100%;position:relative;top:0px;height:252px;background-image:url(/img/lcbg.png)">
                        <canvas id="canvas" style="position:absolute;top:0px;left:0px;z-index:2;" width="298" height="253"></canvas>
                        <div class="lp_ctab" id="CentTab">
                            <li>姓名:<font color="red"><%= data.inputs.name %></font>&nbsp;&nbsp;年龄:<font color="red"><%= data.centerGong.年龄 %></font>&nbsp;&nbsp;<font color="red"><% if (data.inputs.sex == 1) { %>男<% } else { %>女<% } %></font>&nbsp;&nbsp;</li>
                            <li>公历:<%= data.centerGong.阳历生日 %></li>
                            <li>农历:<%= data.centerGong.阴历生日 %></li>
                            <!-- <li class="lp_centdiv">
                                <div class="lp_bzdiv">

                                    <table class="lp_bz" style="text-align:center;">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="color:red;text-align:center;">不论节气</td>
                                            </tr>
                                            <tr class="lp_bztr">
                                                <td>年</td>
                                                <td>月</td>
                                                <td>日</td>
                                                <td style="width:14px;text-align:center;">时</td>
                                            </tr>
                                            <tr class="lp_bztr1">
                                                <td>庚午</td>
                                                <td>戊子</td>
                                                <td>辛未</td>
                                                <td>戊子</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="lp_bzdiv">
                                    <table class="lp_bz">
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="color:red;text-align:center;">节气四柱</td>
                                            </tr>
                                            <tr class="lp_bztr">
                                                <td>年</td>
                                                <td>月</td>
                                                <td>日</td>
                                                <td style="width:14px;text-align:center;">时</td>
                                            </tr>
                                            <tr class="lp_bztr1">
                                                <td>庚午</td>
                                                <td>戊子</td>
                                                <td style="">辛未</td>
                                                <td>戊子</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clear"></div>
                            </li> -->
                            <li>盘类:<span style="color:#00CC66;"><%= data.centerGong.盘类 %>盘</span>&nbsp;&nbsp;命局:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.局 %>局</span>
                            </li>
                            <li>命主:<span style="color:rgb(173, 3, 253);"><%= data.centerGong.命主 %></span>&nbsp;&nbsp;身主:<span style="color:rgb(173, 3, 253);"><%= data.centerGong.身主 %></span>
                            </li>
                            <li>子斗在:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.子斗在 %></span>&nbsp;&nbsp;身宫在:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.身宫在 %></span>&nbsp;&nbsp;命宫在:<span style="color:rgb(253, 3, 3);"><%= data.centerGong.命宫在 %></span>
                            </li>
                        </div>
                        <div id="StarContent" class="StarContent" onclick="ShowCent()"></div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,4)">
                    <div class="lp_tdiv">
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,22)">擎羊</span>
                            <br>陷</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,39)">八座</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,44)">红鸾</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>力士</li>
                            <li>贯索</li>
                            <li>息神</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[5].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[5].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[5].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[5].gongName %></span>
                        </div>
                        <div class="lp_minage">6 18 30 42 54 66 78 90 102 114</div>
                    </div>
                </td>
            </tr>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,10)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,11)">天梁</span>
                            <br>庙</li>
                        <li><span style="color:#f30000;" onclick="ViewStar(this,2)">太阳</span>
                            <br>庙
                            <br><span class="FourStar" onclick="ViewStar(this,28)">禄</span>
                        </li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,25)">铃星</span>
                            <br>平</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,58)">天德</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,45)">天喜</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>喜神</li>
                            <li>天德</li>
                            <li>咸池</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[6].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[6].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[6].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[6].gongName %></span>
                        </div>
                        <div class="lp_minage">12 24 36 48 60 72 84 96 108 120</div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,5)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,6)">天府</span>
                            <br>庙</li>
                        <li><span style="color:#f30000;" onclick="ViewStar(this,5)">廉贞</span>
                            <br>利</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,17)">文昌</span>
                            <br>陷</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,91)">旬空</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,53)">天月</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,36)">龙池</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>青龙</li>
                            <li>官符</li>
                            <li>华盖</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[7].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[7].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[7].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[7].gongName %></span>
                        </div>
                        <div class="lp_minage">7 19 31 43 55 67 79 91 103 115</div>
                    </div>
                </td>
            </tr>
            <tr class="lp_ztr" valign="top">
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,9)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,10)">天相</span>
                            <br>庙</li>
                        <li><span style="color:#f30000;" onclick="ViewStar(this,3)">武曲</span>
                            <br>地
                            <br><span class="FourStar" onclick="ViewStar(this,29)">权</span>
                        </li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,18)">左辅</span>
                            <br>庙</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,15)">天马</span>
                            <br>旺</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,33)">封诰</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,117)">蜚廉</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,47)">天巫</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,114)">天厨</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>飞廉</li>
                            <li>白虎</li>
                            <li>指背</li>
                        </div>
                        <div class="lp_dzhi"><%= data.twelveGongs[8].yearInLunar %></div>
                        <div class="lp_tlife"><%= data.twelveGongs[8].stage %></div>
                        <div class="lp_cgong"><%= data.twelveGongs[8].ageRange %>
                            <br><span class="gst"><%= data.twelveGongs[8].gongName %></span>
                        </div>
                        <div class="lp_minage">11 23 35 47 59 71 83 95 107 119</div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,8)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,9)">巨门</span>
                            <br>陷</li>
                        <li><span style="color:#f30000;" onclick="ViewStar(this,4)">天同</span>
                            <br>陷
                            <br><span class="FourStar" onclick="ViewStar(this,31)">忌</span>
                        </li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,24)">火星</span>
                            <br>地</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,20)">天魁</span>
                            <br>旺</li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>奏书</li>
                            <li>龙德</li>
                            <li>天煞</li>
                        </div>
                        <div class="lp_dzhi">己丑</div>
                        <div class="lp_tlife">养</div>
                        <div class="lp_cgong">16-25
                            <br><span class="gst">父母</span>
                        </div>
                        <div class="lp_minage">10 22 34 45 58 70 82 94 106 118</div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,7)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,8)">贪狼</span>
                            <br>旺</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,19)">右弼</span>
                            <br>庙</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,34)">恩光</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,52)">天虚</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,51)">天哭</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>将军</li>
                            <li>岁破</li>
                            <li>灾煞</li>
                        </div>
                        <div class="lp_dzhi">戊子</div>
                        <div class="lp_tlife">胎</div>
                        <div class="lp_cgong">06-15
                            <br><span class="gst">身命</span>
                        </div>
                        <div class="lp_minage">9 21 33 45 57 69 81 93 105 117</div>
                    </div>
                </td>
                <td class="lp_ztd" align="right" onclick="SetCentDom(this,6)">
                    <div class="lp_tdiv">
                        <li><span style="color:#f30000;" onclick="ViewStar(this,7)">太阴</span>
                            <br>庙
                            <br><span class="FourStar" onclick="ViewStar(this,30)">科</span>
                        </li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,26)">地空</span>
                            <br>陷</li>
                        <li><span style="color:#7100d0;" onclick="ViewStar(this,27)">地劫</span>
                            <br>旺</li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,59)">月德</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,50)">天姚</span>
                        </li>
                        <li><span style="color:#666666;" onclick="ViewStar(this,40)">天官</span>
                        </li>
                    </div>
                    <div class="lp_bdiv">
                        <div class="lp_star">
                            <li>小耗</li>
                            <li>小耗</li>
                            <li>劫煞</li>
                        </div>
                        <div class="lp_dzhi">丁亥</div>
                        <div class="lp_tlife">绝</div>
                        <div class="lp_cgong">116-125
                            <br><span class="gst">兄弟</span>
                        </div>
                        <div class="lp_minage">8 20 32 44 56 68 80 92 104 116</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--遮罩层显示-->
    <div id="lp_BgDiv" class="lp_BgDiv"></div>
    <!--详细介绍显示-->
    <div id="lp_info" class="lp_info">
        <div class="close1" onclick="hideInfo()"></div>
        <div id="lp_infoTop" class="lp_infoTop"></div>
        <div id="lp_detail" class="lp_detail"></div>
    </div>
    <div id="lp_fj" class="lp_fj">
        <div class="close1" onclick="hideHj()"></div>
        <div id="lp_hjInfo"></div>
    </div>
    <div id="DialogDiv" class="DialogDiv" style="display:none">
        <div class="test1">
            <div class="test2"><span id="btnClose" class="btnClose" onclick="closeDiv()"></span>
                <br>
            </div>
        </div>
    </div>
</div>

            	<!-- ENDOF lp_content -->
				
			</div>

            <script src="js/vendor/jquery-1.11.2.min.js"></script>
            <script src="js/vendor/jquery-ui.min.js"></script>
            <script src="js/vendor/bootstrap.min.js"></script>
            <script src="js/main.js"></script>
          </body>
          </html>
